main {
    grid-template-columns: 24px repeat(8, min(7vw, 7vh)) 24px;
    grid-template-rows: 12% 24px repeat(8, min(7vw, 7vh)) 24px;
    justify-content: center;

    .span-10 {
        grid-column: span 10;
    }

    .error {
        grid-column: span 10;
        grid-row: span 11;
    }

    .loading-placeholder {
        grid-column: span 10;
        grid-row: span 11;
        display: flex;
        justify-content: center;
        align-items: center;

        .spinner-border {
            width: min(10vh, 10vw);
            height: min(10vh, 10vw);
        }
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .board_border-label {
        border-width: 0;
        font-size: 20px;
    }

    .black {
        background-color: var(--board-black);
        font-size: 32px;
    }

    .white {
        background-color: var(--board-white);
        font-size: 32px;
    }

    .board_border-top {
        border-top: var(--board-black) 2px solid;
    }

    .board_border-bottom {
        border-bottom: var(--board-black) 2px solid;
    }

    .board_border-left {
        border-left: var(--board-black) 2px solid;
    }

    .board_border-right {
        border-right: var(--board-black) 2px solid;
    }
}