
.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.content-wrapper nav {
    width: 300px;
}
